/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Montserrat', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

@font-face {
    font-family: HoneyBee-Regular;
    src: url(../fonts/HoneyBee-Regular.otf);
    font-weight: bold;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% {opacity: 1; }
}
@keyframes fadeOut {
    100% { opacity: 1; }
    0% { opacity: 0; }
}

body {
    background-color: whitesmoke;
}
#header {
    display: grid;
    grid-template-columns: 20px 150px repeat(3, minmax(10px, 1fr)) 150px 20px;
    grid-template-rows: 10px repeat(2, minmax(10px, 1fr)) 10px;
    align-items: center;
    text-align: center;
}
.headerBG {
    grid-column: 3 / 6;
    grid-row: 2 / 4;
    width: 100%;
    height: 100%;
    padding: 0 2em;
    border-width: 0.2em;
    border-style: solid;
    border-radius: 2em;
    border-color: rgb(214, 157, 32);
    z-index: -1;
}
.pageTitle {
    grid-column: 3 / 6;
    grid-row: 2 / 3;
    font-family: HoneyBee-Regular;
    font-size: 7rem;
    // color: rgba(167, 100, 0, 0.877);
    color: rgb(216, 144, 36);
    text-shadow: 5px 5px 6px rgba(104, 62, 0, 0.726);
}
.about {
    grid-column: 4;
    grid-row: 3 / 4;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 200%;

}
.buttons {
    grid-column: 5;
    grid-row: 3;
    justify-self: end;
    align-items: flex-end;
    button {
        font-size: 1rem;
        font-family: Montserrat, sans-serif;
        padding: .25rem .5rem;
        background-color: rgb(216, 144, 36);
        border-radius: 2em;
    }
}
.popup {
    visibility: hidden;
    position: absolute;
    left: 22%;
    top: 35%;
    cursor: pointer;
    min-width: 50%;
    background-color: rgba(209, 209, 209, 0.555);
    text-align: center;
    border-radius: 2em;
    padding: 2em;
}
.popup2 {
    visibility: hidden;
    position: absolute;
    left: 22%;
    top: 35%;
    cursor: pointer;
    max-width: 50%;
    min-width: 40%;
    background-color: rgba(209, 209, 209, 0.555);
    text-align: center;
    border-radius: 2em;
    padding: 2em;
}
.show {
    visibility: visible;
    animation: fadeIn 1s;
}
.hide {
    visibility: hidden;
    animation: fadeOut 1s;
}
.popupText {
    display: grid;
    grid-template-columns: repeat(3, minmax(3em, 1fr));
    gap: 1em;
    > .newSubject, .newDescription, .newPriority, .newDate {
        padding: 1rem 2rem;
    }
    > .taskRemove {
        padding: 1rem 1rem;
    }
    > .popupTitle {
        grid-column: span 3;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 4rem;
        text-align: center;
    }
    > p {
        text-align: right;
        font-size: 1.2rem;
    }
    .grid-col-span {
        grid-column: span 2;
    }
    > .popupBtn-container {
        grid-column: 1 / 4;
        justify-self: center;
        > .popupBtn {
            background-color: rgb(216, 144, 36);
            color: white;
            font-family: Montserrat, sans-serif;
            font-weight: bold;
            font-size: 1rem;
            width: 25em;
            padding: .5em;
            border-radius: 2em;
        }
    }
}
.taskContainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    padding: 2% 4%;
    gap: 1em;
}
.task {
    background-color: antiquewhite;
    border: 0.15em solid rgb(216, 144, 36);
    border-radius: 2em;
    line-height: 2em;
    padding: 2em;
    > .subject {
        font-size: 1.5rem;
    }
    > .number {
        font-size: 2rem;
    }
    > .subject, > .number {
        display: inline;
    }
    > .taskContents {
        padding-left: 1em;
    }
    > .priority {
        font-style: italic;
        font-weight: bold;
    }
}

// * {
//     outline: 2px solid red ;
//     outline-offset: -1px;
// }