/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Montserrat', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

@font-face {
  font-family: HoneyBee-Regular;
  src: url(../fonts/HoneyBee-Regular.otf);
  font-weight: bold;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

body {
  background-color: antiquewhite;
}

#header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px 150px (minmax(10px, 1fr))[3] 150px 20px;
      grid-template-columns: 20px 150px repeat(3, minmax(10px, 1fr)) 150px 20px;
  -ms-grid-rows: 10px (minmax(10px, 1fr))[2] 10px;
      grid-template-rows: 10px repeat(2, minmax(10px, 1fr)) 10px;
  background-color: #d69d20;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.pageTitle {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / 6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  font-family: HoneyBee-Regular;
  font-size: 7rem;
  color: #d89024;
  text-shadow: 3px 4px 8px rgba(104, 62, 0, 0.726);
}

.about {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 200%;
}

.buttons {
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.buttons button {
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  padding: .25rem .5rem;
}

.popup {
  visibility: hidden;
  position: absolute;
  left: 22%;
  top: 35%;
  cursor: pointer;
  min-width: 50%;
  background-color: rgba(209, 209, 209, 0.555);
  text-align: center;
  border-radius: 2em;
  padding: 2em;
}

.popup2 {
  visibility: hidden;
  position: absolute;
  left: 22%;
  top: 35%;
  cursor: pointer;
  max-width: 50%;
  min-width: 40%;
  background-color: rgba(209, 209, 209, 0.555);
  text-align: center;
  border-radius: 2em;
  padding: 2em;
}

.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.hide {
  visibility: hidden;
  -webkit-animation: fadeOut 1s;
          animation: fadeOut 1s;
}

.popupText {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(3em, 1fr))[3];
      grid-template-columns: repeat(3, minmax(3em, 1fr));
  gap: 1em;
}

.popupText > .newSubject, .popupText .newDescription, .popupText .newPriority, .popupText .newDate {
  padding: 1rem 2rem;
}

.popupText > .taskRemove {
  padding: 1rem 1rem;
}

.popupText > .popupTitle {
  grid-column: span 3;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 4rem;
  text-align: center;
}

.popupText > p {
  text-align: right;
  font-size: 1.2rem;
}

.popupText .grid-col-span {
  grid-column: span 2;
}

.popupText > .popupBtn-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-column-align: center;
      justify-self: center;
}

.popupText > .popupBtn-container > .popupBtn {
  background-color: #d89024;
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  width: 25em;
  padding: .5em;
  border-radius: 2em;
}

.taskContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[4];
      grid-template-columns: repeat(4, minmax(100px, 1fr));
  padding: 2% 4%;
  gap: 1em;
}

.task {
  background-color: #d89024;
  border-radius: 2em;
  line-height: 2em;
  padding: 2em;
}

.task > .subject {
  font-size: 1.5rem;
}

.task > .number {
  font-size: 2rem;
}

.task > .subject, .task > .number {
  display: inline;
}

.task > .taskContents {
  padding-left: 1em;
}

.task > .priority {
  font-style: italic;
  font-weight: bold;
}
/*# sourceMappingURL=styles.css.map */